*{
    margin: 0;
    padding: 0;
}
.content{
    width: 85%;
    display: flex;
    margin: 2% auto;
}
.content1{
    width: 35%;
    background-color: rgb(224, 224, 224);
}
.avatar{
    width: 100%;
    height: 500px;
    position: relative;
}
.avatar-text{
    position: absolute;
    font-size: 20px;
    color: red;
    top: 56%;
    padding: 15px;
}
/* ----------------container-------------- */
.container{
    padding: 15px;
}
.container p{
    color: #757575;
    font-size: 18px;
}
.fa{
    margin: 0 15px 15px 0;
    color: #009688;
    font-size: 20px;
}
.container h2{
    color: #757575;
    margin-top: 15px;
}
.nav{
    width: 100%;
    background-color: rgb(190, 190, 190);
    height: 20px;
    border-radius: 16px;
    margin: 15px 0 15px 0;
}
.percent{
    background-color: #009688 ;
    border-radius: 16px;
    color: white;
    text-align: center;
    height: 20px;
}
.nav2{
    width: 100%;
    background-color: rgb(190, 190, 190);
    height: 30px;
    border-radius: 16px;
    margin: 15px 0 15px 0;
}
.percent2{
    background-color: #009688 ;
    border-radius: 16px;
    height: 30px;
}
/* -----------content 2---------- */
.content2{
    width: 60%;
    margin-left: 2%;
}
.right1{
    background-color: rgb(224, 224, 224);
    width: 100%;
    padding: 15px;
}
.icon{
    font-size: 35px;
}
.work{
    color: #757575;
    font-size: 30px;
    margin-bottom: 2%;
}
.text{
    color: #009688;
    margin: 1.5% 0 5px 0;
    font-size: 20px;
}
.current{
    background-color: #009688 ;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.content2 hr{
    margin: 25px 0 25px 0;
}
.right2{
    background-color: rgb(224, 224, 224);
    width: 100%;
    margin-top: 2%;
    padding: 15px;
}
.edu{
    color: #757575;
    font-size: 35px;
    margin-bottom: 2%;
}
.footer{
    background-color: #009688;
    width: 100%;
    height: 120px;
    color: white;
    text-align: center;
    font-size: 18px;
   padding-top: 2%;
}
.footer i{
    margin: 1% 0 1% 0;
}
.footer i:hover{
    opacity: 0.6;
}
.footer a{
    color: white;
    font-size: 20px;
    color: violet;
}