*{
	margin:0;
	padding:0;
}
/* ========== Header ========== */
.header{
	background-color: rgb(69, 92, 115);
    width:100%;
    padding-bottom: 50px;
}
.address{
	display: flex;
	justify-content: center;
}
.address__home, .address__phone{
	padding:30px;
	color: #fff;
	font-size: 14px;
}
.name__icon{
	color:rgb(125, 247, 145);
	margin-right:5px;
	font-size: medium;	
}
.name{
	display: flex;
	justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.name__hotel{
	cursor: pointer;
}
.menu__icon{
    margin:3px;
    color: #fff
}
.menu{
    width:50%;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    position: relative;
    display: inline-table;
    padding: 8px 16px;
}
.menu ul li a:hover{
    color: #51cba3;
}
.sub-menu ,.sub-menu1 {
    background-color: #dfe4ea;
    color: #222f3e!important;
}
.sub-menu a,.sub-menu1 a{
    color: #222f3e!important;
}
.sub-menu a:hover,.sub-menu1 a:hover{
    color: #51cba3!important;
}
.menu ul li > .sub-menu{
    position: absolute;
    width: 200%;
    left: -30%;
    font-size: 16px;
    padding: 15px;
    display: none;
    text-align: left;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: fadeBottom;
}
@keyframes fadeBottom{
    0%{
        opacity: 0;
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.menu ul li:hover > .sub-menu{
    display: block;
}
.menu .sub-menu .sub-menu1{
    position: absolute;
    display: none;
    width: 150%;
    top: -15px;
    left: 148%;
    text-align: left;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: fadeBottom;
}
.sub-menu li:hover > .sub-menu1{
    display: block;
}
.name__bookRooms button{
	outline:none;
	background-color:rgb(69, 92, 115) ;
	border:1px solid #51cba3;
	color:white;
	padding:12px;
	width:180px;
	cursor: pointer;
} 
 .name__bookRooms button:hover{
    background-color:#51cba3 ;
    transition: 0.3s ease-out;
}
/* mark__page */
.mark__page{
    width: 100%;
    background-color: #dfe4ea;
    height: 40px;
    line-height: 40px;
}
.mark__page a{
	text-decoration: none;
	margin-left:80px;
    color:rgb(70, 68, 68);
    font-size: 14px;
}
.mark__page a:hover{
	color:#51cba3;
	text-decoration: none;
}
.mark__page span{
	color:#51cba3;
}
/* ========== container ========== */
.container{
    width: 100%;
    background-color: #fff;
    padding: 10% 0 5% 0;
}
.content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    color: #000;
    font-size: 56px;
    font-weight: 400;
    font-style: normal;
    font-family: "Nerko One", sans-serif;
}
.content h2{
    color: #000;
    font-size: 30px;
    font-weight: 400;
    font-family: "Alegreya Sans SC", sans-serif;
}
.money{
    color: #51cba3;
    margin-bottom: 20px;
}
.money p{
    font-size: 80px;
    font-weight: bolder;
}
.content>p{
    color: #7c7979;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}
/* slideshow */
.slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides{
    width: 700%;
    height: 1000px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 100%;
}
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -300px;
    display: flex;
    justify-content: center;
}
.manual{
    border: 2px solid #2980b9;
    /* background-color: white; */
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual:not(:last-child){
    margin-right: 40px;
}
.manual:hover{
    background-color: #45aaf2;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
/* text */
.text, .text-text{
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
}
.text h2 , .check-main h2{
    color: #000;
    font-size: 34px;
    font-weight: 400;
    font-family: "Alegreya Sans SC", sans-serif;
    margin-bottom: 15px;
}
.text p{
    color: #7c7979;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}
.text hr , .text-text hr{
    margin-top: 80px;
}
.text-text p{
    color: #7c7979;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}
/* ======== check ======== */
.check{
    width: 100%;
    background-color: #f8f8f8;
}
.check-main{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}
.check-main p{
    color: #7c7979;
    font-size: 16px;
    margin-bottom: 15px;
}
.check-main h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}
.check-main input{
    width: 100%;
    padding: 12px 0;
    margin-bottom: 15px;
}
.check-main button{
    color: #fff;
    background-color: #51cba3;
    padding: 12px 28px;
    border: 1px solid #51cba3;
    font-family: "Ubuntu", sans-serif;
    margin-top: 15px;
}
.check-main button:hover{
    background-color: #000;
    transition: 0.3s ease-in;
}
/* ======== footer======== */
.footer{
    width: 100%;
    background-color: #271f2f;
    padding: 7% 0 5% 0;
}
.main-footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: white;
}
.footer-1, .footer-2, .footer-3{
    width: 30%;
}
.footer-1 div{
    margin-top: 20px;
    color: #DDDDDD;
    line-height: 1.5;
}
.footer-3 h3, .footer-2 h3{
    font-size: 20px;
    font-style: normal;
    font-family: "Alegreya Sans SC",sans-serif;
}
.footer-3 i{
    color: #DDDDDD;
    margin-right: 10px;
}
.footer-3 p{
    color: #DDDDDD;
    line-height: 2;
    font-size: 16px;
}
.footer-3 a{
    text-decoration: none;
    color: #51cba3;
}
.footer-3 a:hover{
    color: #DDDDDD;
}
.icon-icon{
    color: white;
    text-align: center;
    margin-top: 5%;
}
.icon-icon p{
    color: rgba(255,255,255,0.4);
    font-size: 13px;
    margin-bottom: 20px;
}
.icon-icon i{
    padding: 10px;
    color: rgba(255,255,255,0.4);
}
.icon-icon i:hover{
    color: white;
    font-size: 16px;
}
@media (max-width:990px){
    .menu{
        display: block;
    }
}
@media (max-width:800px){
    .menu{
        display: none;
    }
    .name__bookRooms{
        display: block;
    }
    .main-footer{
        flex-wrap: wrap;
    }
    .main-footer>*{
        flex-basis: 100%;
        padding-bottom: 50px;
    }
}
@media (max-width:700px){
    .address{
        display: block;
        text-align: center;
    }
}